@import "../../variables.scss";

.img {
  width: 270px;
  height: 170px;
  margin: 0;
}

.skeleton-card {
  background-color: $white;
  width: 270px;
  height: 130px;
  border-radius: 3px;
  .row {
    width: 80%;
    margin: 10px 27px;
  }
}
