@import "../../variables.scss";

.header-light,
.header-dark {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: $mainFontSize;
  padding: 15px 50px;

  h1 {
    font-weight: 800;
    font-size: 1.3em;
  }
  button {
    font-weight: 600;
    font-size: 1em;
    .img {
      height: 17px;
      width: 17px;
      margin-right: 5px;
    }
  }
}

.header-dark {
  background-color: $darkBlue;
  box-shadow: 0 5px 5px $darkBlue;
  color: $white;
  button {
    color: $white;
  }
}

.header-light {
  background-color: $white;
  box-shadow: 0 1px 10px rgb(191, 190, 190);
}

@media (max-width: 768px) {
  .header-light,
  .header-dark {
    font-size: 12px;
  }
}
